body{
    margin: 0;
    height: 100vh;
    color: white;
    cursor: url('../Windows98Scaled/win-95-98/arrow.cur'), auto;
    overflow: hidden;
}
li{
    display: inline;
    color: white;
    margin: 10px;
    cursor: url('../Windows98Scaled/win-95-98/arrow.cur'), auto;
}
header{
    text-align: center;
    background-color: rgb(235, 235, 235);
    color: white;
    padding: 2vh;
    text-align: center;
    cursor: url('../Windows98Scaled/win-95-98/arrow.cur'), auto;
}
iframe{
    height: 90vh;
    width: 100%;
}
a { text-decoration: none; color: white; cursor: url('../Windows98Scaled/win-95-98/arrow.cur'), auto; }
button { cursor: url('../Windows98Scaled/win-95-98/arrow.cur'), auto; }
#about{
    background-color: white;
    z-index: 100;
    width: 70%;
    height: 70vh;
    border: solid 0.1vw black;
    text-align: center;
    font-size: 1.2em;
    margin: auto;
    overflow: auto;
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}