* { user-select: none; box-sizing: border-box; margin: 0; cursor: url('../Windows98Scaled/win-95-98/arrow.cur'), auto; }
@font-face {
  font-family: "VGA";
  src: url("./PxPlus_IBM_VGA8.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body{
    background-color: black;
    color: white;
    margin: 0;
    font-family:"VGA";
    font-size:16px;
    line-height:1.2;
    user-select: none;
    caret-color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#Terminal{
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    margin: 0;
    border: none;
    height: 93vh;
    width: 100%;
    color: white;
    background: black;
    font-family: "VGA";
    resize: none;
    outline: none;
    overflow-x: hidden;
    user-select: none;
}
#Terminal:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
#Terminal::selection{
    background: transparent;
}